* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    background:#001821;
    line-height: 1.42;
    color: white;
}
a {
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
    text-decoration: none;
}
h1, h2, h3 {
    margin: 0;
    font-weight: normal;
}
.container {
    max-width: 1141px;
    margin: 0 auto;
    padding: 16px;
}
.header {
    height: 123px;
    margin-bottom: 150px;
}
.header__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    padding-top: 29px;
}
.menu {
    position: absolute;
    left: 170px;
    top: 40px;
}
.menu ul{
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 14px;
}
.menu__item  li{
    padding-right: 55px;
}
.header__contact a{
    position: relative;
    display: block;
    top: 25px;
    right: 0px;
}
.header__phone {
    font-size: 26px;
}
.header__grapf {
    text-align: right;
    text-decoration: underline;
    font-size: 13px;
}
.top {
    height: 350px;
}
.top__content {
    width: 630px;
}
.top__title {
    font-size: 75px;
    font-weight: 700;
    color: white;
    margin-bottom: 27px;
    line-height: 1.1;
}
.top__text {
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 18px;
    margin: 60px 0;
}
.top__btn {
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
}
.tour {
    height: 549px;
    position: relative;
    margin-top: 264px;
}
.tour__title {
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-bottom: 27px;
    line-height: 1.1;
}
.tour__title:after {
    content: url('./image/flame.png');
    position: absolute;
    margin-left: 12px;
}
.tour__info {
    display: flex;
}
.tour__cart {
    width: 362px;
}
.tour__option {
    display: flex;
    justify-content: space-between;
}
.tour__content {
    position: relative;
    bottom: 5px;
    width: 362px;
    height: 305px;
    background-color: white;
    color: black;
}
