* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 400;
  background:#001821;
  line-height: 1.42;
  color: white;
}
li {
  list-style: none;
  padding: 0;
}

.main-page-wrapper {
  background: url('../image/back-one.jpg') center top no-repeat, url('../image/back-two.jpg') center bottom 165px no-repeat;
}
a {
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  text-decoration: none;
}
h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  color: white;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  cursor: pointer;
  border: 1px solid transparent;
}
