.about-us {
  margin-bottom: 53px;
}
.about-us__item {
  display: flex;
}
.about-us__item:before {
  content: "";
  width: 490px;
  height: 505px;
  background: url('../image/gates.jpg') center center / cover no-repeat;
  border-radius: 5px;
}
.about-us__wrap {
  display: block;
  background: url('../image/mountains.jpg')  no-repeat;
  background-size: cover ;
  min-height: 455px;
  max-width: 785px;
  margin-top: 110px;
  margin-left: -140px;
  padding: 70px 190px 84px 81px;
  border-radius: 5px;
  color: #060606;
}
.about-us__subtitle {
  color: #060606;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 37px;
  line-height: 49px;
}
.about-us__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.about-us__text p {
  margin-bottom: 61px;
}

.about-us__btn {
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
}
