.header {
  margin-top: 29px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  margin-right: 79px;
}
.header__contact a {
  margin-left: auto;
  display: block;
}
.header__phone {
  font-size: 26px;
  line-height: 20px;
}
.header__grapf {
  text-align: right;
  text-decoration: underline;
  font-size: 13px;
}
