.header {
  height: 123px;
  position: relative;
  margin-top: 29px;
  margin-bottom: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  margin-right: 79px;
}
.header__contact a {
  margin-left: auto;
  display: block;
}
.header__phone {
  font-size: 26px;
}
.header__grapf {
  text-align: right;
  text-decoration: underline;
  font-size: 13px;
}
